<span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
<span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>
<form #f="ngForm" (ngSubmit)="addDeveloper()" class="form col-md-4" [hidden]="submitted">
  <div class="form-group">
    <label class="control-label" for="realNameInput">Real name</label>
    <div>
      <input id="realNameInput" class="form-control" type="text" name="realName" [(ngModel)]="developer.realName" required maxlength="50">
      <control-errors control="realName"
        [errors]="{
          'required': 'Real name is required',
          'maxlength': 'The maximum length of the real name is 50 characters'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="emailInput">Email</label>
    <div>
      <input id="emailInput" class="form-control" type="text" name="email" [(ngModel)]="developer.email" email-input/>
      <control-errors control="email"
        [errors]="{
          'invalidEmail': 'The provided email is invalid'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="technologyInput">Technology</label>
    <div>
      <select class="form-control" name="technology" [(ngModel)]="developer.technology" required>
          <option *ngFor="let t of technologies" [value]="t">{{t}}</option>
      </select>
      <control-errors control="technology"
        [errors]="{
          'required': 'Preferred technology is required'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="pupularCheckbox">Popular</label>
    <input class="checkbox-inline" id="pupularCheckbox" type="checkbox" name="popular" [(ngModel)]="developer.popular">
  </div>
  <button class="btn btn-default" type="submit" [disabled]="!f.form.valid">Add</button>
</form>