<span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
<span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>

<form class="form col-md-4" [formGroup]="importDevForm" [hidden]="submitted">
  <div class="form-group">
    <label class="control-label" for="githubHandleInput">GitHub handle</label>
    <div>
      <input id="githubHandleInput" class="form-control" type="text" formControlName="githubHandle">
      <control-errors control="githubHandle"
        [errors]="{
          'required': 'The GitHub handle is required'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="fetchFromGitHubCheckbox">Fetch from GitHub</label>
    <input class="checkbox-inline" id="fetchFromGitHubCheckbox" type="checkbox" formControlName="fetchFromGitHub">
  </div>
</form>

<form class="form col-md-4" [formGroup]="addDevForm" [hidden]="submitted">
  <div class="form-group">
    <label class="control-label" for="realNameInput">Real name</label>
    <div>
      <input id="realNameInput" class="form-control" type="text" formControlName="realName">
      <control-errors control="realName"
        [errors]="{
          'required': 'Real name is required',
          'maxlength': 'The maximum length of the real name is 50 characters'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="emailInput">Email</label>
    <div>
      <input id="emailInput" class="form-control" type="text" formControlName="email">
      <control-errors control="email"
        [errors]="{
          'invalidEmail': 'The provided email is invalid'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="technologyInput">Technology</label>
    <div>
      <select class="form-control" formControlName="technology">
          <option *ngFor="let t of technologies" [value]="t">{{t}}</option>
      </select>
      <control-errors control="technology"
        [errors]="{
          'required': 'Preferred technology is required'
        }"></control-errors>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="pupularCheckbox">Popular</label>
    <input class="checkbox-inline" id="pupularCheckbox" type="checkbox" formControlName="popular">
  </div>
</form>

<br>
<div class="container" [hidden]="submitted">
  <button class="btn btn-default" (click)="addDeveloper()"
    [disabled]="!isFormValid">Add</button>
</div>