<span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</span>
<span *ngIf="successMessage" class="alert alert-success">{{successMessage}}</span>
<form #f="ngForm" class="form col-md-4" [hidden]="submitted">
  <div class="form-group">
    <label class="control-label" for="realNameInput">Real name</label>
    <div>
      <input id="realNameInput" class="form-control" type="text" name="realName" [(ngModel)]="developer.realName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="emailInput">Email</label>
    <div>
      <input id="emailInput" class="form-control" type="text" name="realName" [(ngModel)]="developer.email" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="technologyInput">Technology</label>
    <div>
      <select class="form-control" name="technology" [(ngModel)]="developer.technology">
          <option *ngFor="let t of technologies" [value]="t">{{t}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="pupularCheckbox">Popular</label>
    <input class="checkbox-inline" id="pupularCheckbox" type="checkbox" name="realName" [(ngModel)]="developer.popular">
  </div>
</form>
<button class="btn btn-default" type="submit" [disabled]="!f.form.valid">Add</button>